#DemoDraggable .area{
  position: relative;
  overflow: hidden;
  padding: 10%;
  border: 1px dashed #333;
  border-radius: 6px;
  background-color: rgba(225, 225, 225,0.4);
}

#DemoDraggable .area > .area{
  float: left;
  width: 45%;
  padding: 0;
}

#DemoDraggable .area > .area:first-child{
  margin-right: 8%;
}

#DemoDraggable .area .draggable{
  margin: 20px;
  display: inline-block;
  padding: 9px 14px;
  font-size: 15px;
  color: #333;
  cursor: move;
  border: 1px solid #333;
  border-radius: 5px;
  background: #f5f5f5;
  position: relative;
}

#DemoDraggable .area .draggable.active{
  z-index: 2;
}

#DemoDraggable .area .draggable.draggable-b.active{
  background-color: rgb(75, 75, 75);
  color: #fff;
}

#DemoDraggable .area .draggable.draggable-b.active [class*="icon-"]{
  background-image: url("bootstrap/img/glyphicons-halflings-white.png");
}

#DemoDraggable .area .draggable.draggable-c.active{
  background-color: #ffc40d;
}