#DemoArkSlider{
  padding: 5%;
  border: 1px dashed #333;
  border-radius: 6px;
  background-color: rgba(225, 225, 225,0.4);
  overflow: hidden;
  position: relative;
}

#DemoArkSlider ul.area{
  height: 400px;
  border: 1px dashed #333;
  border-radius: 600px;
  background-color: rgba(225, 225, 225,0.4);
  list-style: none;
}

#DemoArkSlider ul.area li{
  margin: 20px;
  display: block;
  float: left;
  padding: 9px 14px;
  font-size: 15px;
  color: #333;
  cursor: move;
  border: 1px solid #333;
  border-radius: 25px;
  background: #f5f5f5;
  position: relative;
}

#DemoArkSlider ul.area li.active{
  z-index: 2;
  background: #ffc40d;
}
